#featuredpost {
  margin: 30px 0 10px;
}

#slides * {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

#slides ul,#slides li {
list-style:none;
position:relative;
margin:0;
padding:0;
}

#slides ul {
height:320px;
}

#slides li {
width:50%;
height:100%;
position:absolute;
display:none;
}

#slides li:nth-child(1),#slides li:nth-child(2),#slides li:nth-child(3),#slides li:nth-child(4),#slides li:nth-child(5) {
display:block;
}

#slides li:nth-child(1) {
right:0;
top:0;
}

#slides li:nth-child(2) {
right:50%;
width:25%;
height:50%;
}

#slides li:nth-child(3) {
right:75%;
width:25%;
height:50%;
}

#slides li:nth-child(4) {
right:50%;
top:50%;
width:25%;
height:50%;
}

#slides li:nth-child(5) {
right:75%;
top:50%;
width:25%;
height:50%;
}

#slides li:nth-child(1) h4 {
overflow:hidden;
font-size:25px;
bottom:0;
color:#fafafa;
width:100%;
text-align:right;
text-transform:uppercase;
background:rgba(0,0,0,0.3);
height:90px;
text-shadow:2px 2px 0 rgba(0,0,0,0.2);
line-height:32px;
right:10px;
padding:10px 90px 10px 10px ;
}

#slides li:nth-child(1) .label_text {
font-size:30px;
display:block;
bottom:10px;
right:10px;
box-shadow:5px 3px 0 rgba(0,0,0,0.2);
padding:0;
}

#slides li:nth-child(1) span.dd {
display:block;
font-size:30px;
background:#E74C3C;
margin:0;
padding:12px 15px;
text-align: center;
}

#slides li:nth-child(1) span.dm {
display:block;
font-size:14px;
background:#333;
color:#fff;
text-transform:uppercase;
margin:0;
padding:5px 21px;
}

#slides a {
display:block;
width:100%;
height:100%;
overflow:hidden;
position: relative;
}

#slides img {
display:block;
width:100%;
height:auto;
min-height: 100%;
border:0;
background-color:#333;
position: absolute;
top: 50%;
-moz-transform:translateY(-50%) scale(1.0) rotate(0);
-webkit-transform:translateY(-50%) scale(1.0) rotate(0);
-ms-transform:translateY(-50%) scale(1.0) rotate(0);
transform:translateY(-50%) scale(1.0) rotate(0);
transition:all .6s linear;
padding:0;
}

#slides li a:hover img {
-moz-transform:translateY(-50%) scale(1.1) rotate(1deg);
-webkit-transform:translateY(-50%) scale(1.1) rotate(1deg);
-ms-transform:translateY(-50%) scale(1.1) rotate(1deg);
transform:translateY(-50%) scale(1.1) rotate(1deg);
transition:all .3s linear;
}

#slides .overlayx {
width:100%;
height:100%;
position:absolute;
z-index:2;
background-image:url(../imgs/fade.png);
background-position:50% 40%;
background-repeat:repeat-x;
}

#slides h4 {
position:absolute;
bottom:40px;
font-size:13px;
right:10px;
color:#f9f9f9;
z-index:3;
line-height:20px;
font-weight:400;
background:rgba(41,41,41,0.7);
text-align:right;
text-transform:uppercase;
margin:0 ;
padding:5px 10px;
}

#slides .label_text {
font-size:12px;
color:#fff;
bottom:10px;
z-index:3;
right:10px;
position:absolute;
background:rgba(231, 76, 60, 0.8);
text-transform:uppercase;
padding:3px 6px;
text-align: right;
}

#slides .overlayx,#slides li {
transition:all .4s ease-in-out;
}

#slides li:hover .overlayx {
opacity:0.1;
}

#slides li span.category {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: small;
  padding: 3px 5px;
  background: rgba(0, 192, 239, 0.8);
  color: #FFF;
  z-index: 3
}

#slides li:nth-child(1) span.dy,#slides li:nth-child(1) .overlayx {
display:none;
}

#slides li:nth-child(1) span.dy {
  text-align: center;
}

@media only screen and (max-width: 800px){
#slides li:nth-child(1) h4 {
font-size:18px;
line-height:24px;
}
}

@media only screen and (max-width: 600px){
#slides ul {
height:600px;
}

#slides li:nth-child(1) {
width:100%;
height:50%;
}

#slides li:nth-child(2) {
top:50%;
height:25%;
right:0;
width:50%;
}

#slides li:nth-child(3) {
right:50%;
top:50%;
width:50%;
height:25%;
}

#slides li:nth-child(4) {
right:0;
top:75%;
height:25%;
width:100%;
}

#slides li:nth-child(5) {
display:none;
}
}

@media only screen and (max-width: 480px){
#slides li:nth-child(1) h4 {
font-size:13px;
line-height:16px;
}
}